In [1]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as pl
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('insurance.csv')

In [3]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import confusion_matrix
import pickle
from sklearn import preprocessing

In [4]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [7]:
le = LabelEncoder()

In [8]:
le.fit(data["sex"])

LabelEncoder()

In [9]:
data["Sex"] = le.transform(data["sex"])

In [10]:
le.fit(data["smoker"])

LabelEncoder()

In [11]:
data["Smoker"] = le.transform(data["smoker"])

In [12]:
le.fit(data["region"])

LabelEncoder()

In [13]:
data["Region"] = le.transform(data["region"])

In [14]:
import statsmodels.api as sm

In [15]:
y = data["charges"]
x = data[["age", "bmi", "children", "Sex", "Smoker", "Region"]]

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [17]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [18]:
y_pred = model.predict(X_test)

In [19]:
model.score(X_test,y_test)

0.7911113876316933

In [20]:
import pickle

In [21]:
with open('trained_model.pkl', 'wb') as f:
    pickle.dump(model, f)

In [22]:
with open('trained_model.pkl', 'rb') as f:
    clf_loaded = pickle.load(f)

In [23]:
model = pickle.load(open('trained_model.pkl','rb'))
print(model.predict([[55, 18, 0, 1, 1, 1]]))

[31281.02064605]